{% extends "cab/base.html" %}

{% block body_id %}preview{% endblock body_id %}

{% block content %}
	
	{% if object_list %}
		
		{% for snippet in object_list %}
			<h2>{% include "cab/_title.html" %}</h2>
			<ul>
				<li class="copy">{% include "cab/_embed.html" %}</li>
				<li class="code">
					<div class="embed">
						{% include "cab/_links.html" %}
						<table cellpadding="0" cellspacing="0">
							<tr>
								<th>
									<pre>{% for l in snippet.line_count|slice:":5" %}<span class="number">{{ forloop.counter }}</span>{% endfor %}</pre>
								</th>
								<td{# width="100%"#}>
									<pre>{% for line in snippet.code_splitted|slice:":5" %}<span class="line">{% if line %}{{ line|safe }}{% else %}&nbsp;{% endif %}</span>{% endfor %}</pre>
								</td>
							</tr>
						</table>
					</div>
					<div class="snip"></div>
				</li>
				<li class="meta">{% include "cab/_meta.html" %}</li>
			</ul>
			{% if not forloop.last %}
				<hr>
			{% endif %}
		{% endfor %}
		
	{% else %}
		
		<p>There are no Snippets to display.</p>
		
	{% endif %}
	
	{% if page_obj.paginator.num_pages > 1 %}
		
		<div class="pagination">
			
			{% if page_obj.has_previous %}
				<a href="?page={{ page_obj.previous_page_number }}">Previous page</a>
			{% endif %}
			
			{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
			
			{% if page_obj.has_next %}
				<a href="?page={{ page_obj.next_page_number }}">Next page</a>
			{% endif %}
			
		</div>
		
	{% endif %}
	
{% endblock %}